{% extends 'base.html' %}
{% block title %}{{ object }}{% endblock title %}
{% block content %}
  <h1>{{ object }}</h1>
  <ul>
    <li><strong>förnamn:</strong> {{ object.first_name }}</li>
    <li><strong>efternamn:</strong> {{ object.last_name }}</li>
    <li><strong>född:</strong> {{ object.birthday|date:"Y/m/d" }} ({{ age }} år)</li>
    <li><strong>stad:</strong> {{ object.city }}</li>
  </ul>

  {% if request.user == object %}
    <hr>
    <ul>
      <li><a href="{% url 'user:password_change' %}">ändra lösenord</a></li>
      <li><a href="{% url 'user:update_account' %}">inställningar</a></li>
      <li><a href="{% url 'user:delete_account' %}">avregistrera konto</a></li>
    </ul>
  {% endif %}
{% endblock content %}
