{% extends 'base.html' %}
{% block title %}skapa spelarprofil{% endblock title %}
{% block content %}
    <h1>Skapa spelarprofil för {{ view.kwargs.sport }}</h1>

    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}

        {% for field in form %}
            <p>{{ field.label }}</p>
            <p>{{ field.errors }}</p>
            <p>{{ field }}</p>
        {% endfor %}
        
        <input type="submit" value="skapa profil">
    </form>
{% endblock content %}
