{% extends 'base.html' %}
{% block title %}välj ett nytt lösenord{% endblock title %}
{% block content %}
    {% if validlink %}
        <p>Var snäll och ange ditt nya lösenord två gånger:</p>
        <form method="post">
            {% csrf_token %}

            {% for field in form %}
                <p>{{ field.label }}</p>
                <p>{{ field.errors }}</p>
                <p>{{ field }}</p>
            {% endfor %}
            
            <input type="submit" value="ändra mitt lösenord">
        </form>
    {% else %}
        <p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>
    {% endif %}
{% endblock content %}