{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{% block title%}{% endblock title %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="{% static 'images/favicons/favicon.ico' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
  <a href="{% url 'index' %}">Startsida</a> | 
  {% if request.user.is_authenticated %}
    <a href="{% url 'user:logout' %}">logga ut</a> |
    <span>inloggad som: <a href="{% url 'user:detail' request.user %}">{{ request.user }}</a></span> | <span>konversationer (<a href="{% url 'conversation:list' label='pm' %}">PM</a>/<a href="{% url 'conversation:list' label='ad' %}">AD</a> )</span> | <span><a href="{% url 'player:initiate_create' %}">skapa spelarprofil</a></span> | <span><a href="{% url 'team:initiate_create' %}">skapa lag</a></span> | <span><a href="{% url 'ad:initiate_create' %}">skapa annons</a></span>

  {% else %}
    <a href="{% url 'user:login' %}">logga in</a> |
    <a href="{% url 'user:register' %}">skapa konto</a>
  {% endif %}
  <hr>
  {% if messages %}
    {% for message in messages %}
      <p>{{ message }}</p>
    {% endfor %}
  <hr>
  {% endif %}
  {% block content %}{% endblock content %}
</body>
</html>
